<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    <link href="/css/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <!--<link href="css/animate.css" rel="stylesheet" />-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/blue.css" id="style-switch" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.min.css" media="screen" />
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie9.css" />
    <![endif]-->
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/slides.css" />
    <link rel="stylesheet" type="text/css" href="/css/inline.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*<script src="/Content/Scripts/modernizr-2.5.3.js"></script>
        <script src="~/Content/Scripts/modernizr-2.0.4.min.js"></script>*@
</head>
<body>
    <input type="hidden" id="hdnCulture" value="@System.Threading.Thread.CurrentThread.CurrentUICulture" />
    <div id="loader-overlay"><img src="/images/loader.gif" alt="Loading" /></div>
    <header>

        <div class="header-bg">

            <div id="search-overlay">
                <div class="container">
                    <div id="close" class="searchboxclose">X</div>

                    <input id="hidden-search" type="text" placeholder="@SharedRess.SharedStrings.projearamasearch" autofocus autocomplete="off" /> 
                    <input id="display-search" type="text" placeholder="@SharedRess.SharedStrings.projearamasearch" autofocus autocomplete="off" />
                </div>
            </div>


            <!--Topbar-->
            <div class="topbar-info no-pad">
                <div class="container">
                    <div class="social-wrap-head col-md-2 no-pad">
                        <ul>
                            <li><a href="https://www.facebook.com/argemsan" target="_blank"><i class="icon-facebook head-social-icon" id="face-head" data-original-title="" title=""></i></a></li>
                            <li><a href="https://twitter.com/argemsan_10" target="_blank"><i class="icon-social-twitter head-social-icon" id="tweet-head" data-original-title="" title=""></i></a></li>
                            @*<li><a href="#"><i class="icon-google-plus head-social-icon" id="gplus-head" data-original-title="" title=""></i></a></li>
                            <li><a href="#"><i class="icon-linkedin head-social-icon" id="link-head" data-original-title="" title=""></i></a></li>
                            <li><a href="#"><i class="icon-rss head-social-icon" id="rss-head" data-original-title="" title=""></i></a></li>*@
                        </ul>
                    </div>
                    <div id="search" class="fa fa-search search-head"></div>
                        
                    



                        <div class="top-info-contact pull-right col-md-3">
                            @{

                                string imgurl = "/Images/" + @SharedRess.SharedStrings.culture + ".png";
                            }
                            <img src="@imgurl" />
                            @Html.ActionLink(SharedRess.SharedStrings.culturename, "ChangeCulture", "FHome", new { lang = SharedRess.SharedStrings.culture, returnUrl = this.Request.RawUrl }, null)

                        </div>

                    

                    @{
                        <div class="top-info-contact pull-right col-md-3">
                            @if (Request.Cookies["RegCookie"] != null)
                            {
                                <a href="@Url.Action("RegisterLogOut","FAccount")" style="font-size: 13px;">@SharedRess.SharedStrings.cikis</a>
                                <text>|</text>
                                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_changepass" style="font-size: 13px;">@SharedRess.SharedStrings.sifremidegis</a>
                            }
                            else
                            {
                                <a href="@AccountRess.AccountStrings.yeniuyeliklink">@AccountRess.AccountStrings.uyeol</a>
                            }
                        </div>
                    }
                    

                        @*<div class="top-info-contact pull-right col-md-6">
                Yeni Sanayi Sitesi 60. Sok. No:2-1/A KARESİ BALIKESİR   |   0 266 246 2 274<div id="search" class="fa fa-search search-head"></div>
            </div>*@
                    </div>
            </div><!--Topbar-info-close-->



            <div id="headerstic">

                <div class=" top-bar container">
                    <div class="row">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">

                                    <button type="button" class="navbar-toggle icon-list-ul" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                    </button>
                                    <button type="button" class="navbar-toggle icon-rocket" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                        <span class="sr-only">Toggle navigation</span>
                                    </button>
                                    <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">
                                        <div class="logo">
                                            <img src="http://www.argemsan.com/images/argemlogo.png" />
                                        </div>
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage"><i class="icon-home"></i>@SharedRess.SharedStrings.homepage</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i>@SharedRess.SharedStrings.institutional<b class="icon-angle-down"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional'>@SharedRess.SharedStrings.aboutus</a></li>
                                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_visionmision'>@SharedRess.SharedStrings.visionmision</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i>@SharedRess.SharedStrings.projects<b class="icon-angle-down"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_projebasvuru'>@SharedRess.SharedStrings.projebasvurutext</a></li>
                                                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menuprojects_link">@SharedRess.SharedStrings.projects</a></li>
                                            </ul>
                                        </li>

                                        
                                        
                                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews">@SharedRess.SharedStrings.news</a></li>
                                        @*<li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.projects">@SharedRess.SharedStrings.projects</a></li>
                                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews">@SharedRess.SharedStrings.news</a></li>*@
                                        @*<li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>*@
                                        
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i>@SharedRess.SharedStrings.links<b class="icon-angle-down"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_links">@SharedRess.SharedStrings.links</a></li>
                                                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>
                                            </ul>
                                        </li>
                                        


                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i>@SharedRess.SharedStrings.contact<b class="icon-angle-down"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails">@SharedRess.SharedStrings.contactdetails</a></li>
                                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_bankaccounts'>@SharedRess.SharedStrings.bankaccounts</a></li>
                                            </ul>
                                        </li>



                                    </ul>
                                </div><!-- /.navbar-collapse -->


                                <div class="hide-mid collapse navbar-collapse option-drop" id="bs-example-navbar-collapse-2">


                                    <ul class="nav navbar-nav navbar-right other-op">
                                        <li><i class="icon-phone2"></i>+91 9028556688</li>
                                        <li><i class="icon-mail"></i><a href="#" class="mail-menu">demo@companyname.com</a></li>

                                        <li>
                                            <i class="icon-globe"></i>
                                            <a href="#" class="mail-menu"><i class="icon-facebook"></i></a>
                                            <a href="#" class="mail-menu"><i class="icon-google-plus"></i></a>
                                            <a href="#" class="mail-menu"><i class="icon-linkedin"></i></a>
                                            <a href="#" class="mail-menu"><i class="icon-social-twitter"></i></a>
                                        </li>
                                        <li>
                                            <i class="icon-search"></i>
                                            <div class="search-wrap">
                                                <input type="text" id="search-text" class="search-txt" name="search-text">
                                                <button id="searchbt" name="searchbt" class="icon-search search-bt"></button>
                                            </div>
                                        </li>

                                    </ul>
                                </div><!-- /.navbar-collapse -->

                                <div class="hide-mid collapse navbar-collapse cart-drop" id="bs-example-navbar-collapse-3">


                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#"><i class="icon-cart"></i>0 item(s) - $0.00</a></li>
                                        <li><a href="#"><i class="icon-user"></i>My Account</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->



                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!--Topbar End-->
            </div>
        </div>
    </header>


    <div class="complete-content">

        @RenderBody()


    </div>
    <div class="complete-footer">
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <!--Foot widget-->
                    <div class="col-xs-12 col-sm-12 col-md-12 foot-widget-bottom">
                        <p class="col-xs-12 col-md-5 no-pad">
                            ARGEMSAN PROJE ÜRETİM VE DANIŞMANLIK HİZMETLERİ A.Ş. | © 2015
                            <br />
                            Yeni Sanayi Sitesi 60. Sok. No:2-1/A KARESİ BALIKESİR   |   0 266 246 2 274
                        </p>
                        <ul class="foot-menu col-xs-12 col-md-7 no-pad">
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional">@SharedRess.SharedStrings.contactdetails</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_links">@SharedRess.SharedStrings.links</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews">@SharedRess.SharedStrings.news</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menuprojects_link">@SharedRess.SharedStrings.projects</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_visionmision">@SharedRess.SharedStrings.visionmision</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional">@SharedRess.SharedStrings.aboutus</a></li>
                            <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/bootstrap-new/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.min.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/jquery.flexisel.min.js"></script>
<script type="text/javascript" src="/js/jquery.imedica.min.js"></script>
<script type="text/javascript" src="/js/custom-imedicajs.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type='text/javascript'>
    $(window).load(function () {
        $('#loader-overlay').fadeOut(900);
        $("html").css("overflow", "visible");
    });

  


  

</script>

@RenderSection("scripts", false)

