@model deneysan.Models.RegisterLoginViewModel
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
    ViewBag.Title = "Giriş Paneli";
}

<div class="about-intro-wrap pull-left">
    <div class="breadcrumbcustom">
        <div class="container">
            <!--Title / Beadcrumb-->
            <div class="inner-page-title-wrap col-xs-12 col-md-12 col-sm-12">
                <div class="bread-heading"><h1>@AccountRess.AccountStrings.girisyap</h1></div>
                <div class="bread-crumb pull-right">
                    <ul>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_login">@SharedRess.SharedStrings.login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 dept-tabs-wrap wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="200">
                <div class="tabbable tabs-left">
                    
                        <div class="tab-content col-md-6 col-sm-6 col-xs-6 col-centered" style="min-height:450px;float: none;display: block;margin-left: auto;margin-right: auto;">
                            <div class="dept-title-tabs">@AccountRess.AccountStrings.sistemegiris</div>
                            <br />

                            @using (Html.BeginForm("Index", "FAccount", FormMethod.Post, new { }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <div class="email controls">
                                            @Html.TextBoxFor(model => model.Email, new { @placeholder = AccountRess.AccountStrings.mail, @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Email)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="pw controls">
                                            @Html.PasswordFor(model => model.Password, new { @placeholder = @AccountRess.AccountStrings.sifre, @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.Password)
                                        </div>
                                    </div>

                                    
                                    <div class="submit form-group" style="margin-bottom:8px">
                                        <input type="submit" value='@AccountRess.AccountStrings.giris' class="btn btn-primary">
                                    </div>
                                    <div class="submit form-group" style="margin-bottom:8px">
                                        <a href="@AccountRess.AccountStrings.sifremiunuttumlink">@AccountRess.AccountStrings.sifremiunuttumtext</a>,&nbsp;&nbsp;
                                        <a href="@AccountRess.AccountStrings.yeniuyeliklink">@AccountRess.AccountStrings.yeniuyeliktext</a>
                                    </div>
                                    @*<div class="form-group" style="margin-bottom:0px">
                                        <a href="@AccountRess.AccountStrings.sifremiunuttumlink">@AccountRess.AccountStrings.sifremiunuttumtext</a>
                                    </div>*@
                                </div>
                            }

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>