@model IEnumerable<deneysan_DAL.Entities.ImportantLinks>
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<div class="about-intro-wrap pull-left">
<div class="bread-crumb-wrap ibc-wrap-2">
    <div class="container">
        <!--Title / Beadcrumb-->
        <div class="inner-page-title-wrap col-xs-12 col-md-12 col-sm-12">
            <div class="bread-heading"><h1>@LinksRess.LinksStrings.importantlinks</h1></div>
            <div class="bread-crumb pull-right">
                <ul>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_links">@SharedRess.SharedStrings.links</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 pull-left full-content wow fadeInLeft animated" data-wow-delay="0.3s" data-wow-offset="130">
            <div class="full-content-title">@ReferencesRess.ReferencesStrings.references</div>
            <br />
            <div class="intro-content-wrap elemnts-wrap col-xs-12 col-sm-6 col-md-12 typopraphy-elements no-pad wow fadeInLeft animated" data-wow-delay="1s" data-wow-offset="200">
                @*<h3>Arrow Icon List</h3>*@
                <ul style="width:100%">
                    @foreach (var links in Model)
                    {
                    <li>
                        <a href="@links.LinkUrl" target="_blank">
                            <i class="fa fa-angle-right about-list-arrows"></i>@links.LinkName
                        </a>
                    </li>
                    }
                </ul>

            </div>    

            
        </div>
    </div>
</div>
</div>

                   

@*<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">
            <h2>@LinksRess.LinksStrings.importantlinks</h2>
            <hr class="wide" />
            <div class="ulListe">
                <ul id="newslist">
                    @foreach(var links in Model)
                    {
                    <li>
                        <a href="@links.LinkUrl" target="_blank">
                            <span class="Left">@links.LinkName</span>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>*@
