@*@model deneysan.Models.HomePageWrapperModel*@
@{
    ViewBag.Title = "Argemsan";
    Layout = "/Views/Shared/frontlayout.cshtml";
}


<div class="container full-width-container ihome-banner">
    <div class="banner col-sm-12 col-xs-12 col-md-12">

        <ul>
            <!-- THE BOXSLIDE EFFECT EXAMPLES  WITH LINK ON THE MAIN SLIDE EXAMPLE -->

            <li data-transition="papercut" data-slotamount="7">

                <!-- MAIN IMAGE -->
                <img src="/images/new-slider/s1-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" >
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfb skewtoright imed-sl1"
                     data-x="left"
                     data-y="60"
                     data-opacity="0.5"
                     data-hoffset="0"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn" style="opacity:0.7 !important;">
                    <img src="/images/new-slider/s1-img4.png" alt="" class="img-responsive" style="opacity:0.2 !important">
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lft skewtoright imed-sl1"
                     data-x="left"
                     data-y="85"
                     data-hoffset="83"
                     data-speed="1200"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="/images/new-slider/s1-img3.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption lft skewtoright imed-sl1"
                     data-x="86.5"
                     data-y="83"
                     data-hoffset="45"
                     data-speed="1400"
                     data-start="1600"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="/images/new-slider/s1-img2.png" alt="" class="img-responsive">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="115"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="2400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <b>ARGEMSAN</b> projelerinizi <br> hayata geçiriyor.
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="222"
                     data-hoffset="-10"
                     data-speed="1000"
                     data-start="2900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Hemen Başvur&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="280"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="3400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Verdiğimiz hizmet ile projelerinizi hayata geçirmek artık çok kolay.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption s1-but customin skewtoright imed-sl1"
                     data-x="center"
                     data-y="365"
                     data-hoffset="205"
                     data-speed="1000"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-start="3900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn"><a href="@SharedRess.SharedStrings.projebasvurulinki">Proje Başvurusu&nbsp;&nbsp;</a></div>




            </li>

            <li data-transition="papercut" data-slotamount="7">

                <!-- MAIN IMAGE -->
                <img src="/images/new-slider/s3-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb skewtoright imed-sl1 rs-parallaxlevel-1"
                     data-x="left"
                     data-y="55"
                     data-hoffset="-20"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="/images/new-slider/s1-img2.png" alt="" class="img-responsive">
                </div>
                <!-- LAYER NR. 2 -->
                @*<div class="tp-caption lfb skewtoright imed-sl1 rs-parallaxlevel-2"
                     data-x="left"
                     data-y="220"
                     data-hoffset="203"
                     data-speed="1200"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    <img src="/images/new-slider/s3-img2.png" alt="" class="img-responsive">
                </div>*@

                <!-- LAYER NR. 5 -->
                <div class="tp-caption bluebg-t1 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="115"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="2400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Argemsan.com  yakında <br /> yayında!
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption bluebg-t2 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="222"
                     data-hoffset="-10"
                     data-speed="1000"
                     data-start="2900"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">
                    Bizi takipte kalın &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption bluebg-t3 sfr skewtoright imed-sl1"
                     data-x="right"
                     data-y="280"
                     data-hoffset="-60"
                     data-speed="1000"
                     data-start="3400"
                     data-easing="Back.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power1.easeIn">Lorem Ipsum is simply dummy text of the printing and typesetting<br>industry, it has been the industry's standard.</div>

            </li>




        </ul>

    </div>
</div>




<div class="parallax-out wpb_row vc_row-fluid ihome-parallax">


    <div id="second" class="upb_row_bg vcpb-hz-jquery" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="ex-full">

        <div class="container">
            <div class="row">

                <div class="bg col-lg-4 col-sm-4 col-md-5 col-xs-12 notViewed wow fadeInUp" data-wow-delay="1.5s" data-wow-offset="200"></div>

                <div class="float-right col-lg-7 col-sm-7 col-md-7 col-xs-12">

                    <div class="iconlist-wrap">
                        <div class="subtitle notViewed wow fadeInRight" data-wow-delay="0.5s" data-wow-offset="20">@HomeRess.HomeStrings.neden <span class="iconlist-mid-title">Argemsan?</span></div>
                        <br /><br />
                        <ul>
                            <li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="50">
                                <i class="icon-hospital2 icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">@HomeRess.HomeStrings.projelerinizidestekliyoruz</div>
                                    <p class="iconlist-text">
                                        @HomeRess.HomeStrings.nedenargemsan
                                    </p>
                                </div>

                            </li>

                            @*<li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="70">
                                <i class="fa fa-ambulance icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">Sizi Bekletmiyoruz</div>
                                    <p class="iconlist-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam.
                                    </p>
                                </div>
                            </li>
                            <li class="notViewed wow fadeInDown" data-wow-delay="0.5s" data-wow-offset="60">
                                <i class="fa fa-user-md icon-list-icons"></i>
                                <div class="iconlist-content">

                                    <div class="iconlist-title">Bizimle Çalışmak İster misiniz?</div>
                                    <p class="iconlist-text">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam.
                                    </p>
                                </div>

                            </li>*@
                        </ul>
                    </div>


                </div>
            </div> <!--.story-->
        </div>
    </div> <!--#second-->

</div>



<!--Purchase Box-->

<div class="purchase-wrap-blue ipurchase-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                <div class="purchase-strip-blue pull-right col-sm-12 col-md-12 col-xs-12 pull-left notViewed wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">
                    <div class="purchase-strip-text"><span class="ipurcahse-strip-text">@HomeRess.HomeStrings.argemsan</span> @HomeRess.HomeStrings.projeonbasvuru </div>
                    <div class="color-4">
                        <p class="ipurchase-paragraph">
                            <a class="fa-calendar fa-eye btn btn-4 btn-4a notViewed" href="@SharedRess.SharedStrings.projebasvurulinki">@HomeRess.HomeStrings.btntiklaniyiniz</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Purchase Box-->


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 pull-left">

            <div class="latest-post-wrap pull-left wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="100">
                <div class="subtitle col-xs-12 no-pad col-sm-11 col-md-12 pull-left news-sub">
                    <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews" class="dept-details-butt posts-showallx">» @HomeRess.HomeStrings.haberlerduyurular</a>
                    
                </div>
                @foreach (var newsitem in Model.news)
                {
                    <div class="post-item-wrap pull-left col-sm-6 col-md-12 col-xs-12">
                        <img src="@newsitem.NewsImage" class="img-responsive post-author-img" alt="@newsitem.Header" style="max-width:88px;" />
                        <div class="post-content1 pull-left col-md-9 col-sm-9 col-xs-8">
                            <div class="post-title pull-left"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_news/@newsitem.PageSlug/@newsitem.NewsId">@newsitem.Header</a></div>
                            <div class="post-meta-top pull-left">
                                <ul>
                                    <li><i class="icon-calendar"></i>@newsitem.TimeCreated.ToString("dd.MM.yyyy")</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-content2 pull-left">
                            <p>@newsitem.Spot
                                <span style="font-weight:bold"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_news/@newsitem.PageSlug/@newsitem.NewsId">@SharedRess.SharedStrings.more</a></span>
                            </p>
                        </div>
                    </div>
                }

                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_allnews" class="dept-details-butt posts-showallx">» @HomeRess.HomeStrings.allnews</a>

            </div>
        </div>

    </div>
</div>

<div class="cl-wrap icl-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left client-logo-flex wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="100">
                <ul id="clients-carousel" class="icl-carousel">
                    @foreach (var reference in Model.references)
                    {
                        <li><a href="@reference.Link" target="_blank" title="@reference.ReferenceName"><img src="@reference.Logo" width="96" height="96" alt="@reference.ReferenceName" title="@reference.ReferenceName" class="img-responsive client-logo-img"/></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>