@model IEnumerable<deneysan_DAL.Entities.BankInfo>
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
    ViewBag.Title = "Banka Bilgilerimiz";
}

<div class="about-intro-wrap pull-left">
    <div class="bread-crumb-wrap ibc-wrap-2">
        <div class="container">
            <div class="inner-page-title-wrap col-xs-12 col-md-12 col-sm-12">
                <div class="bread-heading"><h1>@SharedRess.SharedStrings.bankaccounts</h1></div>
                <div class="bread-crumb pull-right">
                    <ul>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_bankaccounts">@SharedRess.SharedStrings.bankaccounts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 dept-tabs-wrap wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="200">
                <div class="tabbable tabs-left">
                    <div class="tab-content col-md-12 col-sm-12 col-xs-12 pull-right" style="min-height:450px">
                        <div class="dept-title-tabs">@ContactRess.ContactStrings.bankaccounts</div>
                        <div class="tab-content">
                            <div class="tab-pane fade fade-slow in active" id="all-doc" style="margin-bottom:280px;">

                                @foreach (var bank in Model)
                                {
                                    <div class="doctor-box col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="200">

                                        <div class="zoom-wrap">
                                            <img class="img-responsive" src="@bank.Logo" style="border:1px solid #e6e7e8" />
                                        </div>
                                        <div class="doc-name">
                                            <div class="doc-name-class">@bank.BankName</div>
                                            <span class="doc-title">@bank.BankNumber</span>
                                            <hr />
                                            <p>@bank.IBAN</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>