@model deneysan.Areas.Admin.Controllers.ProjectDetailModel
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}

<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
<style>
    .form label {
        width: 275px;
    }
</style>
@Html.Partial("project_leftbar")
@Html.Hidden("imagesCount", @Model.ProjectImages.Count())
<div id="page-content" class="container_12">
    <div id="page-header">
        <h2>PROJE BİLGİLERİ</h2>
    </div>

    <section class="grid_12 form">
        @Html.Hidden("ProcessMessage", (object)@ViewBag.ProcessMessage)

        @using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("hdfieldcategory")
            @Html.HiddenFor(x => x.Project.ProjeId)
            @Html.HiddenFor(x => x.Project.Language)
            @Html.HiddenFor(x => x.Project.ProjeDokümani)

            @Html.Hidden("hdfieldtaglist")
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Proje Sahibi Bilgileri</legend>
                <p>
                    @Html.LabelFor(m => m.Project.ProjectGroupId)
                    @Html.DropDownListFor(m => m.Project.ProjectGroupId, (IEnumerable<SelectListItem>)ViewBag.ProjeGruplari, "Proje Grubu Seçiniz...")
                    @Html.ValidationMessageFor(m => m.Project.ProjectGroupId)

                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeSahibi)
                    @Html.TextBoxFor(m => m.Project.ProjeSahibi, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeSahibi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeSahibiKurumu)
                    @Html.TextBoxFor(m => m.Project.ProjeSahibiKurumu, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeSahibiKurumu)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.Telefon)
                    @Html.TextBoxFor(m => m.Project.Telefon, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.Telefon)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.Faks)
                    @Html.TextBoxFor(m => m.Project.Faks, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.Faks)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.PostaAdresi)
                    @Html.TextAreaFor(m => m.Project.PostaAdresi, new { @class = "textwidth50", @Rows = "5" })
                    @Html.ValidationMessageFor(m => m.Project.PostaAdresi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.Email)
                    @Html.TextBoxFor(m => m.Project.Email, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.Email)
                </p>


            </fieldset>
            <fieldset>
                <legend>Proje Bilgileri</legend>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeAdi)
                    @Html.TextBoxFor(m => m.Project.ProjeAdi, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeAdi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeHedefi)
                    @Html.TextAreaFor(m => m.Project.ProjeHedefi, new { @class = "textwidth50", @Rows = "5" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeHedefi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeAmac)
                    @Html.TextAreaFor(m => m.Project.ProjeAmac, new { @class = "textwidth50", @Rows = "5" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeAmac)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeSuresi)
                    @Html.TextBoxFor(m => m.Project.ProjeSuresi, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeSuresi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.ProjeButcesi)
                    @Html.TextBoxFor(m => m.Project.ProjeButcesi, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeButcesi)
                </p>
                <p>
                    @Html.LabelFor(m => m.Project.FinanseEdenKurum)
                    @Html.TextBoxFor(m => m.Project.FinanseEdenKurum, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.FinanseEdenKurum)
                </p>

                <p>
                    @Html.LabelFor(m => m.Project.UygulanacagiYer)
                    @Html.TextBoxFor(m => m.Project.UygulanacagiYer, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Project.UygulanacagiYer)
                </p>

                <p>
                    @Html.LabelFor(m => m.Project.BeklenenSonuclar)
                    @Html.TextAreaFor(m => m.Project.BeklenenSonuclar, new { @class = "textwidth50", @Rows = "5" })
                    @Html.ValidationMessageFor(m => m.Project.BeklenenSonuclar)
                </p>

                <p>
                    @Html.LabelFor(m => m.Project.ProjeOzeti)
                    @Html.TextAreaFor(m => m.Project.ProjeOzeti, new { @class = "textwidth50", @Rows = "5" })
                    @Html.ValidationMessageFor(m => m.Project.ProjeOzeti)
                </p>


            </fieldset>
            <fieldset>
                <legend>Proje Teklif Bilgileri</legend>
                <p>
                    @Html.Label("Proje Teklif Fiyatı")
                    @Html.TextBoxFor(m => m.Project.ProjeTeklifFiyati, new { @class = "textwidth50" })

                </p>
                <p>
                    @Html.Label("Proje Teklif Numarası")
                    @Html.TextBoxFor(m => m.Project.ProjeTeklifNumarasi, new { @class = "textwidth50", @Rows = "5" })
            
                </p>
            </fieldset>
            <fieldset>
                <legend>Proje Dosyaları</legend>
                <p>
                    <label>Proje Dökümanı</label>
                    <table style="width:100%" class="table no-border tablesorter">
                        <tbody>
                            <tr>
                                <td style="width:80%;">
                                    @if (!string.IsNullOrEmpty(Model.Project.ProjeDokümani))
                                    {
                                        <label class="projedokumanilabel">@Model.Project.ProjeDokümani.Split('/')[3]</label>
                                        <a id="dwnloadFile" href="/Project/Download?fileName=@Model.Project.ProjeDokümani.Split('/')[3]">Dökümanı İndir</a>
                                    }
                                    else
                                    {
                                        <label class="projedokumanilabel">Proje Dökümanı eklenmemiş</label>
                                    }



                                </td>

                                <td><input id="projedokumanfile" name="projedokumanfile" type="file"></td>
                                <td>
                                    <img src="/Areas/Admin/Content/images/icons/delete.png" style="width:32px;" class="cursorpointer" title="Sil" onclick="RemoveDokuman()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.Hidden("hdnProjeDokumani")
                </p>

                <p style="margin-top:40px !important;">

                    <label>Proje Resimleri</label>

                    <input id="projeresimfile" name="projeresimfile">
                    @Html.Hidden("hdnimagefile")




                    @if (Model.ProjectImages != null && Model.ProjectImages.Count() > 0)
                    {
                        <ul style="list-style-type:none;width:100%;">

                            @foreach (var item in Model.ProjectImages)
                            {
                                <li style="float:left;width:25%;position:relative;">
                                    <img src="@item.ImageThumb" id="projectImage_@item.ProjeId" style="height: 200px;width:85%;" />
                                    <div style="position:absolute;bottom:-20px;height:40px;width:40px;">
                                        <img src="/Areas/Admin/Content/images/icons/16/delete.png" style="width:32px;" class="cursorpointer" title="Sil" onclick="DeleteProjectImage(@item.Id)" id="projectImage_@item.Id">
                                    </div>
                                </li>
                            }

                        </ul>
                    }
                </p>
            </fieldset>


            <p>
                <input type="submit" value="Kaydet" id="btnsave" />
            </p>


        }
    </section>
</div>
@section Scripts {
    <link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.msgbox.min.js"></script>
    <script src="~/Areas/Admin/Content/scripts/myscripts/MessageBox.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.unobtrusive.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.ui.datepicker-tr.js"></script>


    <script src="~/Areas/Admin/Content/scripts/plugins/uploadify/jquery.uploadify.js"></script>

    <script src="~/Areas/Admin/Content/scripts/pagescripts/proje/editproject.js"></script>

    @*<script src="~/Areas/Admin/Content/CKEditor/ckeditor/ckeditor.js"></script>
        <script src="~/Areas/Admin/Content/CKEditor/ckfinder/ckfinder.js"></script>
        <script src="~/Areas/Admin/Content/scripts/myscripts/CKEditorCreate.js"></script>*@


}
